<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="afterapps.miqat">

    <application
        android:name="afterapps.miqat.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="afterapps.miqat.activities.ActivityPreferences"
            android:theme="@style/AppTheme"
            android:parentActivityName="afterapps.miqat.activities.ActivityPrayers" />
        <activity
            android:name="afterapps.miqat.activities.ActivityLocations"
            android:theme="@style/AppTheme"
            android:parentActivityName="afterapps.miqat.activities.ActivityPrayers" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUSRQAQCa5CmKPWe_VWdlArClGjQTXAZE" />

        <activity
            android:name="afterapps.miqat.activities.ActivityPrayers"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>